<html>
	<head>
		<title> data </title>
		
	</head>
	<body>
		<h3>Here is the ticket!</h3>
		
		<% 
			if (data.length>0){
				for (var i=0; i<data.length ; i++){
		%>
					<div id="data<%= i %>" style="font-size:<%= data[i].distance %>">To <%= data[i].destination %>  From <%= data[i].currentlocation %>  <a href="/link?_id=<%= data[i]._id %>">more</a></div>
		<% 		
				}
			}
		%>
		<%- include('../form'); %>
	</body>
</html>